

.cover{
  background-color: red;
  width: auto;
  height: 695px;
  background-image: url('/src/assets/img/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.head-card{
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-sec{
  width: 600px;
  height: 150px;
  background: white;
  border-radius: 30px 30px 0 0 ;
  margin-top: -60px;
  z-index: 1;
}

.deck-color{
  background-color: rgb(221, 235, 227);
}
.img-border{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.img-suggested{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.img-size{
  padding: 0px 0px 79.412%;
  width:150px;
  height:150px
}
.product-img{
  display: block;
  width: 100%;
  border-radius: 6px ;
  height: 400px;
}

.product-title{
  font-size: large;
}
